<div class="search-bar-container">
  <div class="input-group">
    <span class="input-group-text bg-white">
      <i class="bi bi-search text-primary"></i>
    </span>
    <input
      #inputElement
      type="text"
      class="form-control"
      [ngClass]="[getSizeClass()]"
      [placeholder]="placeholder"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchInput()"
      [disabled]="disabled"
      [style.background-color]="backgroundColor">
  </div>
  <div *ngIf="disabled" class="spinner-wrapper">
    <div class="spinner-border spinner-border-sm text-primary"></div>
  </div>
</div>
