.search-bar-container {
  position: relative;
  width: 100%;
}

.spinner-wrapper {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.input-group-text {
  border-right: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #dee2e6;
}

.form-control:focus + .input-group-text {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
