<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>isbm</th>
      <th>price</th>
      <th>published At</th>
      <th>Pages</th>
      <th>Language</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="isloading$ && !error">
      <td colspan="8">
        <div class="d-flex justify-content-center py-4">
          <div class="spinner-border text-primary me-3" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <span class="text-muted">Loading ...</span>
        </div>
      </td>
    </tr>
    <tr *ngIf="books$ && !isloading$ && !error">
       <td colspan="8">
        <div class="d-flex justify-content-center py-4">
          no data available
        </div>
      </td>


</tr>
    <tr *ngFor="let book of books$ | keyvalue" >
      <td>{{ book.id }}</td>
      <td>{{ book.name }}</td>
      <td>{{ book.isbm }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.publishedAt | date: short }}</td>
      <td>{{ book.pages }}</td>
      <td>{{ book.language }}</td>
      <td>
        <button
          type="button"
          class="btn btn-light"
          matButton="elevated"
          (click)="openEditModal(book)"
        >
          edit
        </button>
        |
        <button
          type="button"
          class="btn btn-danger"
          matButton="elevated"
          (click)="openDeleteModal(book)"
        >
          Delete
        </button>
        <!--
        <button
          type="button"
          class="btn btn-light"
          matButton="elevated"
          (click)="onEditDialog(book)"
        >
          edit
        </button>
        -->

        <!--
        <button
          type="button"
          class="btn btn-danger"
          matButton="elevated"
          (click)="onDeleteDialog(book.id, book.name)"
        >
          Delete
        </button>
      -->
      </td>
    </tr>
  </tbody>
</table>
